<header class="header-desktop" id="btncerrar">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                </form>
                <div class="header">
                    <div class="account-wrap">
                        <div class="account-item">
                            <div class="image">
                                <img  src="https://scontent.fvvc2-1.fna.fbcdn.net/v/t1.0-9/106256033_2631673500437130_6192703456119598652_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_eui2=AeHjCVpplWolH1Nas8DY68I7xbucE8pkv3nFu5wTymS_eXoW0KZBSNYShs-PkFka_tV1HYwu6KtHulDUKl42FMFX&_nc_ohc=QYYbe3W2UoIAX-zIvqq&_nc_ht=scontent.fvvc2-1.fna&oh=81173a586aa3bcf64df8238debefce36&oe=5FAB8E24" />
                            </div>
                            <div id="btncrear" class="content">
                                <a href="#"  type="button"  class="nombre-usuario" ></a>
                            </div>
                            <div  class="account-dropdown js-dropdown"  id='conten-crearperfil' style="transform: scale(1)">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a >
                                            <img class="nombre-usuario" src="https://scontent.fvvc2-1.fna.fbcdn.net/v/t1.0-9/106256033_2631673500437130_6192703456119598652_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_eui2=AeHjCVpplWolH1Nas8DY68I7xbucE8pkv3nFu5wTymS_eXoW0KZBSNYShs-PkFka_tV1HYwu6KtHulDUKl42FMFX&_nc_ohc=QYYbe3W2UoIAX-zIvqq&_nc_ht=scontent.fvvc2-1.fna&oh=81173a586aa3bcf64df8238debefce36&oe=5FAB8E24"  />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5>
                                            <a class="nombre-usuario"></a>
                                        </h5>
                                        <span class="email">arcadiogomez@gmail.com</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Perfil</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="../configuracion/config.html">
                                            <i class="zmdi zmdi-settings"></i>configuración</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="../logout/logout.html">
                                        <i class="fa fa-sign-out-alt"></i>Salir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<aside class="menu-sidebar d-none d-lg-block" >
    <div class="logo" style="padding-left: 70px;">
            <a >
                <img style="width: 150px;" src="../../images/123.png"/>
            </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1" >
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li >
                    <a href="../inicio/inicio.html"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class=" has-sub">
                    <a href="../Usuarios/usuarios.html"><i class="fas fa-users"></i>Usuarios</a>
                </li>
                <li>
                    <a href="../Clientes/clientes.html"><i class="fas fa-chart-bar"></i>Clientes</a>
                </li>
                <li>
                    <a href="../Productos/productos.html"><i class="fas fa-shopping-cart"></i>Productos</a>
                </li>

                <li>
                    <a href="../Ventas/ventas.html"><i class="fas fa-shopping-basket"></i>Ventas</a>
                </li>

                <li>
                    <a href="../informes/informes.html"><i class="fas fa-receipt"></i>Informes</a>
                </li>

                <li>
                    <a href="../logout/logout.html"><i class="fas fa-sign-out-alt"></i>Salir</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
<script src="../menu_lateral/dropdown.js"></script>